body {
    padding: 0;
    margin: 0;
    color: white;
    background: teal;
    font-family: sans-serif;
}

header, div#messages > h2 {
    padding: 8px 16px;
    margin: 0 0 16px 0;
    background: sienna;
    border-color: white;
    border-width: 0 0 1px 0;
    border-style: solid;
}

header h1 {
    padding: 0;
    margin: 0;
}

div#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(100,100,100,0.7);
    z-index: 10000;
}

div#messages {
    width: 400px;
    height: 222px;
    position: fixed;
    top: 211px;
    left: calc(50vw - 200px);
    background: ghostwhite;
    border: 1px solid darkgreen;
    box-shadow: black 0px 0px 8px 2px;
}

div#messages > h2 {
    margin: 0;
}

div#messages p {
    color: black;
    margin: 0;
    padding: 16px;
}

div#modal div#messages button#close {
    position: absolute;
    bottom: 20px;
    left: 140px;
    border: solid darkblue 1px;
}

div#modal div#messages button.option {
    background: darkgrey;
    border: solid grey 1px;
    display: inline-block;
    margin-right: 8px;
}

div.player {
    line-height: 45px;
    border: solid 1px white;
    background: dodgerblue;
    margin-bottom: 8px;
}

div.player img {
    height: 45px;
    vertical-align: bottom;
}

div.player > div {
    cursor: pointer;
}

div.player.next {
    background: darkorange;
    color: black;
}

div#captured-top {
    height: 30px;
}

div#captured-bottom {
    height: 30px;
    text-align: right;
}

div#captured-top img, div#captured-bottom img {
    height: 30px;
    margin-left: -8px;
}

div#container {
    height: 600px;
    margin: 0 auto;
    width: 600px;
}

div#the-board {
    cursor: pointer;
}

div.players {
    position: relative;
    width: 200px;
    height: 0px;
    left: -208px;
    top: -596px;
}

div#buttons {
    position: absolute;
    right: 16px;
    top: 12px;
}

div#buttons button, div#modal button {
    background: dodgerblue;
    border: solid white 1px;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 120px;
    margin-bottom: 8px;
    margin-right: 8px;
    line-height: 28px;
    font-size: 14px;
}

div#buttons button:hover,
div#modal div#messages button:hover {
    background: darkorange;
}

pre#text {
    color: white;
    width: 200px;
    margin: 0;
    position: relative;
    top: -630px;
    left: 604px;
}

/* Override move highlighting */
div#the-board .highlight1-32417,
div#the-board .highlight2-9c5d2 {
    box-shadow: none;
}

/* Set up our own move highlighting */
div#the-board .highlight1-32417::before,
div#the-board .highlight2-9c5d2::before,
div.last-move-from::before,
div.last-move-to::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,0,0.25);
}

/* Set the z-index on pieces, so I can control overlays */
img.piece-417db {
    position: relative;
    z-index: 100;
}

div#the-board .possible-move::before,
div#the-board .check::before,
div#the-board .possible-capture::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

div#the-board .possible-move::before {
    background-image: url(../images/dot.svg);
    z-index: 150;
}

div#the-board .possible-capture::before {
    background-image: url(../images/capture.svg);
    background-size: 95%;
    z-index: 50;
}

div#the-board .check::before {
    background-image: url(../images/check.svg);
    background-size: 95%;
    z-index: 50;
}
